
@{
    ViewBag.Title = "Index";

}
@model IEnumerable<EnglishSalon.Models.QuestionBank>
@Styles.Render("~/Content/css/Index.css")
@Scripts.Render("~/Content/js/Index.js")

<h2>Questions</h2>
<table border="1" id="table-4">
    <tr>
        <th>Label</th>
        <th>Value</th>
        <th>Count</th>
        <th>Detail</th>
    </tr>
    @foreach (var item in ViewData["QuestionsCount"] as List<EnglishSalon.Models.QuestionBank>)
    {
        <tr>
            <td>
                @item.Label
            </td>
            <td>
                @item.Value
            </td>
            <td>
                @item.Count
            </td>
            <td>
                <a href="~/Index/QuestionDetail?Label=@item.Label&Value=@item.Value">Show</a>
            </td>
        </tr>
    }
</table>


